# Flask Application Secret Key (change this to a random string in production)
SECRET_KEY=your-super-secret-key-change-in-production

# MongoDB Atlas Connection URI && NEON DATABASE URL 
MONGO_URI=your_mongoDB_Connection_String
NEON_DATABASE_URL=Your_NeonDB_String
# Email Configuration (for password reset)
BREVO_API_KEY=paste-your-long-api-key-here
MAIL_DEFAULT_SENDER=the-email-you-used-to-sign-up-for-brevo@example.com


# Admin Registration Code
ADMIN_CODE=your_admin_code
# Core Admin data
CORE_ADMIN_EMAIL=your_admin_mail
CORE_ADMIN_PASSWORD=your_admin_password
CORE_ADMIN_USERNAME=your_admin_user_name